<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= blocks.title %>
	</title>
	<%- scripts -%>
		<%- stylesheets -%>
</head>

<body>
	<main>
		<div class="container">
			<%- body -%>
		</div>
	</main>
</body>

</html>